*.swp

*/.config/nvim/after
*/.config/nvim/autoload
*/.config/nvim/bundle
*/.config/nvim/ftplugin
*/.config/nvim/plugged

*/.tmux/plugins/*
*/.tmux/resurrect/*

*/.vim/.netrwhist
*/.vim/bundle/*
*/.vim/view/*
